# npm 阿里云镜像配置

# 主仓库地址
registry=https://packages.aliyun.com/5f05a0346207a1a8b17f4aaf/npm/npm-registry/

# node-gyp 编译使用的二进制包地址
disturl=https://npm.taobao.org/mirrors/node

# electron 镜像地址
electron_mirror=https://npm.taobao.org/mirrors/electron/

# node-sass 镜像地址
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/

# puppeteer 镜像地址
puppeteer_download_host=https://npm.taobao.org/mirrors

# chromedriver 镜像地址
chromedriver_cdnurl=https://npm.taobao.org/mirrors/chromedriver

# operadriver 镜像地址
operadriver_cdnurl=https://npm.taobao.org/mirrors/operadriver

# selenium 镜像地址
selenium_cdnurl=https://npm.taobao.org/mirrors/selenium

#修复 node-sass 编译问题
#sass_binary_site=https://github.com/sass/node-sass/releases/download
